body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: #e5e5e5;
}
body.modal-open { overflow: hidden; }
h3{ margin: 10px 0px 0px 0px; }
.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    background: #131313;
    padding-top: 20px;
    box-shadow: 4px 0 10px rgba(0,0,0,0.6);
}
.sidebar .logo {
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
    color: #ffffff;
}
.sidebar a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #c5c5c5;
    transition: 0.3s;
}
.sidebar a:hover,
.sidebar a.active {
    background: #1f1f1f;
    color: #ffffff;
}
.sidebar .logout { color: #ffffff; }
.main { margin-left: 240px; }
.topbar {
    background: #141414;
    padding: 15px 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}
.topbar h2{
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.content {
    padding:  0px 25px;
    color: #e5e5e5;
}
.cards {
    display: flex;
    gap: 20px;
    margin: 10px 0px 0px 0px;
    justify-content: space-between;
}
.card {
    background: #1d1d1d;
    padding: 20px;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.card h4 { margin-bottom: 10px; }
.card:nth-child(1) { color: #dedfe0; border-left: 6px solid #dedfe0; }
.card:nth-child(2) { color: #f5a623; border-left: 6px solid #f5a623; }
.card:nth-child(3) { color: #7ed321; border-left: 6px solid #7ed321; }
.card:nth-child(4) { color: #4a90e2; border-left: 6px solid #4a90e2; }
.card p {
    font-size: 26px;
    margin: 0;
    font-weight: bold;
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);
    cursor: pointer;
}
.card.updated p {
    transform: scale(1.3);
    color: #3498db;
}
.chart {
    display: flex;
    height: 400px;
    text-align: center;
    justify-content: center;
}
.filter-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
#dateFilter {
    background-color: #1f1f1f; 
    color: #ffffff;
    border: 1px solid #444; 
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#dateFilter-label { padding: 7px 5px 0px 0px; }
#filterSelect:hover {
    background-color: #2a2a2a;
    border-color: #666;
}
#filterSelect:focus {
    outline: none;
    border-color: #888;
}
.section { display: none; }
.section.active { display: block; }
.action-btn, button,
input[type=submit] {
    background-color: #2c2cfa;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}
button:hover { background-color: #5252f5;}
.view { background: #0aa32d; }
.view:hover { background: #28a745; }
.delete { background: #c01e1e; }
.delete:hover { background: #d43535; }
.cancel { background: #545b61; }
.cancel:hover { background: #63686d; }
table {
    border-collapse: collapse;
    width: 100%;
    background: #1a1a1a;
    color: #e5e5e5;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    z-index: 1;
}
th, td {
    border-bottom: 1px solid #333;
    padding: 10px;
    text-align: left;
}
th {
    background: #2e2e2e;
    color: #ffffff;
}
tr:hover { background: #2a2a2a; }
.modal {
    display: none;
    position: fixed;
    z-index: 400;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    inset: 0;
}
.modal-content, .mapmodal-content{
    position: relative;
    background-color: #1f1f1f;
    color: #e5e5e5;
    margin: 10% auto;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 3px 12px rgba(0,0,0,0.5);
    animation: slideDown 0.3s ease;
    z-index: 10;
}
.mapmodal-content {margin-top: 5%;}
#complaintModalBody, #singleFeedbackBody {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 600px;
    padding: 10px 50px; 
}
@keyframes slideDown {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
.close {
    float: right;
    color: rgb(255, 18, 18);
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover { color: #ff5c5c; }
textarea{
    color: #cccccc;
    background-color: #202020;
    border: 1px solid #cccccc;
    margin-top: 10px;
}
#charCount {
    font-size: 0.9em;
    color: #cccccc;
    margin-top: 4px;
}
#searchFilter, #sortSelect {
    background: #1e1e1e;       
    color: #e0e0e0;           
    border: 1px solid #444;    
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}
#searchFilter::placeholder { color: #aaa; }
#searchFilter:focus, #sortSelect:focus {
    outline: none;
    border-color: #cfcfcf;     
    box-shadow: 0 0 5px rgba(107, 107, 107, 0.5);
}
#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #27a749;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 30px;
    font-size: 16px;
}
#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein { 
    from { top: 0; opacity: 0; } 
    to { top: 30px; opacity: 1; } 
}
@keyframes fadeout { 
    from { top: 30px; opacity: 1; } 
    to { top: 0; opacity: 0; } 
}